.div-content {
  margin-top: 2rem;
}

.btn {
  margin-top: 2rem;
}

h1 {
  margin-bottom: 2rem;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .text-right-sm {
    text-align: right;
  }
}

.link-download {
  margin-top: 20px;
}

#mapid {
  height: 400px;
  width: 600px;
  margin-left: 2rem;
}
